
<script>
function updateProgress(e) {
  if (e.lengthComputable) {
    var percent = e.loaded / e.total;
    $("progress").attr("value", percent * 100);
  }
}

$("#post1").on("click", function() {
  var formData = new FormData();
  formData.append("file", document.getElementById("file").files[0]);

  var request = new XMLHttpRequest();
  request.upload.addEventListener("progress", updateProgress, false);
  request.open("POST", "./upload");
  request.send(formData);
});
</script>
<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_area :name %>
  </div>
  <div class="field">
    <%= f.label :time %><br>
    <%= f.text_field :time %>
  </div>
  <% if @user.allow %>
  <%= "動画公開可" %>
  <div class="field">
    <%= f.label :movie %><br>
    <%= f.file_field :movie %>
  </div>
   <div class="field">
    <!-- 既存レコード(DBに保存されている)かつ、画像が存在する場合 -->
    <% if @user.persisted? && @user.movie? %>
      <label>
        <%= f.check_box :remove_movie %>
        動画を削除
      </label>
      <% end %>
    <% else %>
    <%= "動画公開不可" %>
    <% end %>
  <div class="actions" id ="post1">
    <%= f.submit %>
  </div>
<% end %>
