<p id="notice"><%= notice %></p>
<div class="container">

<h1>管理画面</h1>


<div id="search"> 
<%= form_tag(users_path, method: "get") do %>
<%= label_tag :name, "Name  " %>
<%= text_field_tag :name, params[:name] %><br>
<%= label_tag :createday, "登録日" %>
<%= date_field_tag :createday, Date.today %>
<%= label_tag :allow, "動画公開可のみ" %>
<%= check_box_tag :allow, true, false %>
<%= label_tag :movieexist, "動画未アップのみ" %>
<%= check_box_tag :movieexist, true, false %>
<%= submit_tag "検索" %>
<% end %>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th width="5%">ID</th>
      <th width="10%">Day</th>
      <th width="30%">Name</th>
      <th width="10%">Time</th>
      <th WIdth="5%">BestLap</th>
      <th width="10%">動画公開可否</th>
      <th width="5%">動画有無</th>
      <th width="25%"; colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.created_at.strftime("%m月%d日 %H時%M分") %></td>
        <td><%= user.name %></td>
        <td><%= user.time %></td>
        <td><%= user.bestlap %></td>
        <td><%= user.allow ? '可' : '不可' %></td>
        <td><%= user.movie? ? 'UP済' : '未UP' %></td>
        <td><%= link_to '編集', edit_user_path(user), :target=>["_blank"] %></td>
        <td><%= link_to '削除', user, method: :delete, data: { confirm: '本当に削除しますか？?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div><%= paginate @users %></div>

<%= link_to 'New Driver', new_user_path %>
</div>