<script>
$(function() {
  $(document).on("keypress", "input:not(.allow_submit)", function(event) {
    return event.which !== 13;
  });
});
</script>


  <div class="schimg">
  <%= render 'logo' %>
  </div>
  <div class="container">
<div class="atitle">
<h1>New Driver</h1>
</div>

<%= bootstrap_form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2> 登録時にエラーが発生しました。</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="afield">
  <div class="namefield">
    <%= f.text_field :name %>
  </div>
  <div class="timefield">
    
    <%= f.text_field :time %>
  
  </div>
  
   <div class="field">
    <%= f.label :allow, "プレイ動画を特設ページにて公開できます。ご希望の方はチェックしてください。" %>
    <%= f.check_box :allow, label:" " %>
  </div>
 
  <div class="actions">
    <%= f.submit %>
  </div>
  </div>
<% end %>


</div>