<div class="shownotice">
<p id="notice"><%= notice %></p>
</div>
<div class="showinfo">
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Time:</strong>
  <%= @user.time %>
</p>
</div>


<%= link_to '編集', edit_user_path(@user) %> |
<%= link_to '管理画面', users_path %>
