<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-59f03120f8796b72"></script>

     <nav class="navbar navbar-default">
         <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
             
            </button>
              
            <a class="navbar-brand" id="navbar-brand1" href="https://www.schaeffler.co.jp/content.schaeffler.jp/ja/index.jsp" target="_blank"><%= image_tag 'Schaeffler.png', :height => "100%" %></a>
          </div>
            
           
          <div id="navbar" class="navbar-collapse collapse">
              
            <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href=<%= root_path %>>Home</a></li>

                
                
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Results<span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu">
                  <li class="divider"></li>
                  <li class="dropdown-header">日別ドライバーリザルト</li>
                  <li><a href=<%= ranking_28_path %>>10/28</a></li>
                  <li><a href=<%= ranking_29_path %>>10/29</a></li>
                  <li><a href=<%= ranking_30_path %>>10/30</a></li>
                  <li><a href=<%= ranking_01_path %>>11/01</a></li>
                  <li><a href=<%= ranking_02_path %>>11/02</a></li>
                  <li><a href=<%= ranking_03_path %>>11/03</a></li>
                  <li><a href=<%= ranking_04_path %>>11/04</a></li>
                  <li><a href=<%= ranking_05_path %>>11/05</a></li>
                  
                    
                
                </ul>
              </li>
            </ul>
            
          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </nav>
