<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
   <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=yes">
  </head>

   
<body>
    <%= render 'logo' %>

<div class="ba-head">
    <div class="a-head-title">
    <h1>Results</h1>
    </div>
</div>

<div class="ba-head-image">
  </div>

<div class="c-result">
 <div class="c-result-content">
 <div class="c-result-title">
  <h2>Results of 10/28</h2>
 </div>
    <% if @users.blank? %>
    <div class="c-nodata"><p>ドライバーが登録されていません。</p></div>
   <% else %>
<%= render 'resulttable' %>
   <% end %>
 </div>
 </div>
 
<div class="d-result">
<div class="d-result-content">
<div class="d-result-title">
<h2> Other Day </h2>
</div>

<table class="d-result-table">
<tbody>
<tr>
<th><%= link_to '10/29', ranking_29_path %></th>
<th><%= link_to '10/30', ranking_30_path %></th>
<th><%= link_to '11/01', ranking_01_path %></th>
<th><%= link_to '11/02', ranking_02_path %></th>
<th><%= link_to '11/03', ranking_03_path %></th>
<th><%= link_to '11/04', ranking_04_path %></th>
<th><%= link_to '11/05', ranking_05_path %></th>
</tr>
</tbody>
</table>
</div>
</div>


</body>
</html>

